= error_messages_for @exclusion

= form_for @exclusion, :action => resource(@site, :exclusions), :method => :post do
  %legend
    == Unsubscribe from #{ @site.url }
  %fieldset
    = text_field :email, :label => "E-Mail"
    = hidden_field :name => "ref", :value => params[:ref]
    %br
    = recaptcha_tags
    %br
    =submit "Unsubscribe"
